Вам дан игровой датасет по игрокам FIFA21_official_data.csv. Оставим только игроков с известными показателями из списка: - Имя (Name) - Возраст (Age) - Вес (Weight) - Роcт (Height) - Тотал (Overall)

Для начала необходимо найти показатель BMI (Индекс массы тела). Добавьте этот показатель отдельным столбцом в датасет. Также рассчитайте метрику Normality как корень квадратный из суммы квадратов отклонений и также добавьте в датасет.

Самым обычным человеком будем считать такого человека, чьи отклонения от средних показателей по всем вышеперечисленным метрикам (включая BMI и Normality, но исключая Имя) минимальны.

Формат ввода
На вход функции process(df) поступает датафрейм, полученный из датасета FIFA21_official_data.csv.

Формат вывода
Файл solution.py с вашим решением должен содержать только функцию process. Функция process должна вернуть датафрейм, содержащий ТОП-3 самых “обычных” футболистов, отсортированных в порядке увеличения суммарной метрики.

Примечания
Внимательно изучите форматы данных столбцов исходного датасета и при необходимости выполните соответствующие преобразования.

In [82]:
data = pd.read_csv("C:/Users/glebv/Desktop/Файлы яндекс лицей/FIFA21_official_data.csv")

In [116]:
import pandas as pd
import numpy as np


def process(df):
    data = pd.read_csv(df)
    data = data[['Name', 'Age', 'Weight', 'Height', 'Overall']].copy()
    
    data['Weight'] = data['Weight'].str.replace('lbs', '')
    data['Weight'] = data['Weight'].astype('float') * 0.453592
    
    data['Height'] = data['Height'].str.replace("'", "")
    data['feet'] = data['Height'].str[0].astype(int)
    data['inches'] = data['Height'].str[1:3].astype(int)
    data['Height'] = data['feet'] * 30.48 + data['inches'] * 2.54
    data = data.drop(columns=['feet', 'inches'])
    
    data['BMI'] = data['Weight']/((data['Height']/100)** 2)
    
    cols = [ 'Age', 'Weight', 'Height', 'Overall', 'BMI']
    means = data[cols].mean()
    
    for col in cols:
        data[f'{col}_otkl'] = (data[col] - means[col]) ** 2
    
    dc = [f'{col}_otkl' for col in cols]
    data['Normality'] = np.sqrt(data[dc].sum(axis=1))
    
    data = data.drop(columns=dc)
    
    data = data.sort_values('Normality')
    
    return data.head(3).reset_index(drop=True)

              Name  Age     Weight  Height  Overall        BMI  Normality
0   Manu Trigueros   28  74.842680   177.8       78  23.674773   1.306090
1     D. Cheryshev   29  73.935496   177.8       77  23.387806   1.840354
2      Y. Belhanda   30  74.842680   177.8       78  23.674773   2.153942